@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&family=Urbanist:wght@700;900&display=swap');

.heading1 {
    font-size: 3em;
    color: #FF7000;
    font-weight: 800;
    font-family: 'Rubik', sans-serif, Urbanist;
    
}

.very-black{
    color: #000000;
}

.getStartedBtn{
    background-color: #FF7000;
    width: 15em;
    outline: none;
    border: none;
    color: white;
    height: 3em;
    border-radius: 4px;

}
.potoLanding{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.brand{
    color: #FF7000;
}

.txts{
    font-size: x-large;
}

.tabs1{
    border: none;
    outline: none;
    width: 30%;
    height: 3em;
    background-color: #fb9546;
    border-radius: 5px;
}
.tabs1:focus{
    border: none;
    outline: none;
    width: 30%;
    height: 3em;
    background-color: #411d01;
    color: white;
}