.fiona {
    background: linear-gradient(110.04deg, #FFA300 0%, #FF7C9B 69.77%, #D02ECA 97.86%);
}

.fio {
    position: relative;
    top: 2em;
    color: white;
}

.fioo {
    position: relative;
    top: 6em;
    color: antiquewhite;

}

.fii {
    position: absolute;
    right: 0px;
    top: 1000px;
}