.blue {
   position: relative;
   left: 3em;
   top: 3em;
   color: white;
}
.blu{
    color: orange;
}
.bl{
    position: relative;
    left: 5em;
    top: 5em;
    color: white;
}
.b{
    position: relative;
    left: 5em;
    top: 7em;
    color: white;
}
.bluee{
    position: relative;
    left: 5em;
    top: 7.5em;
    color: white;
}

.very-black{
    color: rgb(0, 0, 0);
    font-weight: 700;
}

.gradients{
    color: linear-gradient(red, yellow);
}
.bigger{
    font-size: 3.3em;
}

.bigTxt{
    font-size:1.8em;
}
