.down{
    position: relative;
    top: 18em;
    left: 5em;

}
.up{
    background-color: black;
    height: 30em;
    background-size: cover;
    background-attachment: fixed;

}
.chi{
    border-color: rgba(256, 256, 256, .15) !important;
}
.siii{
    position: relative;
    top: 24em;
}

.display-7 {
    position: relative;
    font-size: 1.2em;
}

.size-3{
    font-size: 2em;
}

.cursor{
    cursor: pointer;
}
.sizesmall{
    font-size: 10px;
}

.hyperlinks{
    color: rgb(22, 125, 236);
}